@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;


}

.black {
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.793);
    filter: opacity(0.4);
    position: relative;
    z-index: 2;
    top: 0px;
    filter: drop-shadow(16px 30px 10px rgba(0, 0, 0, 0.962))
}

.container {
    width: 100%;
    height: 100vh;

    background-image: url(IN-en-20250203-TRIFECTA-perspect.jpg);
    position: relative;

    /* background-position-y: 0px;*/
    background-position-x: 0px;
    background-size: cover;
    background-repeat: no-repeat;




}

.container svg {
    width: 150px;
    color: #e50914;
    position: relative;
    z-index: 10;
    margin: 22px 0px;
    cursor: pointer;


}

.upcontainer {
    width: 100%;
    height: 200vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0px;
    opacity: 0.63;
    z-index: 1;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 79vw;
    margin-left: 145px;
    height: 50px;
    position: relative;
    top: -39px;
    z-index: 3;
}

.btn {
    width: 80px;
    height: 33px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.379);
    gap: 7px;
}

.lng {
    width: 133px;
    border-radius: 8px;
    height: 31px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0.1px solid rgb(220, 213, 213);
    color: white;
    border-radius: 4px;
    opacity: 0.8;
    margin-right: 10px;


}

.red {
    color: white;
    background-color: rgba(229, 9, 20, 1);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;


}

.red:hover {
    background-color: #c11119;
}

.heading {
    color: white;
    text-align: center;
    font-family: Poppins;
    position: relative;
    width: 40vw;
    z-index: 3;
    margin-left: 450px;
    margin-top: 200px;
}

.heading> :nth-child(1) {
    font-weight: 700;
    line-height: 70px;

    font-size: 56px;
}

.heading> :nth-child(2) {
    font-weight: 500;
    line-height: normal;

    font-size: 20px;
}

.heading> :nth-child(3) {
    font-weight: 400;
    line-height: 24px;
    margin-top: 35px;
    font-size: 14px;

}

.heading input {
    padding: 15px 15px;
    width: 390px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: black;
    opacity: 0.66;
    border-radius: 4px;
    position: relative;
    bottom: 3px;
    border: 1px solid rgb(237, 232, 232);
}

.margine {
    margin-top: 15px;

}

.heading button {
    padding: 17px 15px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #e50914;
    border-radius: 4px;
    border: none;
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 3px;
    transition: background-color 0.3s;

}

.heading button:hover {
    background-color: #c11119
}

.flex {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    left: 165px;
    width: 77vw;
    overflow-x: scroll;
    z-index: 3;
    gap: 35px;
    padding: 35px;
    border-radius: 10px;


}

.flex img {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 256px;

}

.flex img:hover {
    transform: scale(1.06);
}

::-webkit-scrollbar {
    width: 100%;
}

.trending {
    z-index: 3;
    color: white;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: start;
    background-color: #00000000;
    max-width: 500px;
    left: 170px;
    line-height: normal;
    font-weight: 700;
    font-size: 29px;
    top: 25px;
    font-family: Poppins;
}

.more {
    font-weight: 600;
    font-size: 23px;
    line-height: normal;
    position: relative;
    z-index: 3;
    color: white;
    max-width: 100%;
    left: 170px;
    font-family: Poppins;
    top: 45px;

}

.box2 {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: start;
    top: 60px;
    left: 190px;
    height: 300px;
    max-width: 75vw;
    gap: 40px;
}

.item {
    width: 550px;
    height: 250px;
    background-color: #1d1930;

    border-radius: 13px;
}

.Enjoy {
    font-weight: 600;
    line-height: normal;
    font-family: Poppin;
    color: white;
    font-size: 29px;
    padding: 17px;
}

.Download {
    font-size: 23px;
}

.watchevery {
    padding-right: 15px;

}

.Niteen {
    color: white;
    font-family: Poppin;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding: 2px 5px 10px 14px;
}

.path {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    padding-right: 15px;
}

.donbtn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    padding-right: 15px;
}

.torch {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 10px;
    padding-right: 15px;
}

.emoji {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -7px;
    padding-right: 15px;
}

.fre {
    width: 1160px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 71px;
    left: 170px;

    line-height: 30px;
    font-family: Poppin;
    font-weight: 600;
    color: white;
    font-size: 24px;
    padding: 20px 20px;

}

.box3 {
    position: relative;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 90vh;

}

.child {
    width: 1160px;
    display: flex;
    justify-content: space-between;

    position: relative;
    top: 71px;
    left: 190px;
    background-color: #2d2d2d;
    line-height: 30px;
    font-family: Poppin;
    font-weight: 500;
    color: white;
    font-size: 24px;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

.child:hover {
    background-color: #414141;

}

.endinput input {
    padding: 15px 15px;
    width: 550px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    margin-right: 2px;
    background-color: black;
    opacity: 0.66;
    border-radius: 4px;
    position: relative;
    cursor: text;
    border: 1px solid rgb(237, 232, 232);
}



.endbtn {
    padding: 17px 15px;
    width: 250px;
    margin-bottom: 10px;
    background-color: #e50914;
    border-radius: 4px;
    border: none;
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.endbtn:hover {
    background-color: #c11119;
}

.endinput {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    border: none;
    position: relative;
    top: 2px;
    padding: 5px 20px;

}

.ready {
    color: white;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    position: relative;
    left: -15px;
}

.box4 {
    color: #9d9d9d;
    position: relative;
    left: 190px;
    width: 75vw;
    top: 70px;

}

.grid {
    color: white;
    position: relative;
    left: 190px;
    width: 75vw;
    height: 20vh;
    top: 70px;
    border: none;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    justify-content: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    color: #9d9d9d;
}

.grid div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: none;
    width: 63.54vw;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    position: relative;
    top: 70px;
    text-decoration: underline;
}

.grid div ul li {
    border: none;
    cursor: pointer;
    transition: color;
}

.grid div ul li:hover {
    color: blue;
}

.Jobs {
    position: relative;
    left: -53px;

}

.Cookie {
    position: relative;
    left: 22px;

}

.Corporate {
    position: relative;
    left: 23px;

}

.Contact {
    position: relative;
    left: -12px;

}

.Legal {
    position: relative;
    left: -157px;

}

.Only {
    position: relative;
    left: -288px;

}

.Ways {
    position: relative;
    left: 13px;

}

.option {
    width: 28vw;

    color: white;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    left: 38px;

}

.option button {
    width: 130px;
    padding-right: 35px;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-weight: 500;
    color: white;
    background-color: #0f0f0f;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    cursor: pointer;
    transition: transform;

}

.option button:hover {
    transform: scale(1.04);
}

.option button span {
    position: relative;
    transform: rotate(90deg);

}

.space {
    position: relative;
    height: 130px;
    color: #9d9d9d;
    top: 185px;
    width: 200px;
    left: 190px;
}